/*
    General
*/
.form-group-branch + .form-group-branch {
    margin-top: 15px;
}
.form-group-branch .title {
    margin-bottom: 5px;
}
.form-group-branch select {
    box-sizing: border-box;
    padding: 2px 5px;
}
.form-group-branch select + select {
    margin-left: 2%;
}
.form-group-branch select:not(:last-child) {
    margin-right: -0.25em;
}

/*
    Name
*/
.branch-name input {
    width: 200px;
}

/*
    Condition
*/
.condition-type-list {
    width: 40%;
}
.replay-status-list {
    width: 55%;
}

/*
    Target
*/
.action-list {
    width: 28%;
}
.script-list {
    width: 28%;
}
.target-type-list {
    width: 20%;
}
.target-seq-list {
    width: 15%;
}

/*
    Branch order
*/
.branch-order input {
    width: 45px;
}

/*
    Actions
*/
.remove {
    float: left;
}
.apply {
    float: right;
}
.cancel {
    float: right;
}