/*================================
    Global style. Dialogs
================================*/
.dialog .dialog-description {
    margin-bottom: 10px;
}

.dialog .dialog-actions button + button {
    margin-left: 5px;
}

.dialog .ui-button {
    margin-right: 0;
}