.lockimage {
    width: 32px;
    height: 32px;
    background-image: url(images/dc_config_options.png);
    background-position: -32px 0px;
    margin: 2px;
    display: inline-block;
}

#buttons {
    float: right;
}
