/*
    Global
*/
a {
    color: rgb(0,121,193);
}
.ui-button {
    margin-right: 0;
}

/*
    Variable name
*/
.variable-name {
    margin-top: 10px;
}
.variable-name label {
    display: inline-block;
    vertical-align: middle;
    max-width: 25%;
}
.variable-name input {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-left: 5px;
}

/*
    Variable tokens
*/
.variable-tokens {
    margin-top: 10px;
}
.tokens-description {
    margin-bottom: 10px;
}
.tokens {
    float: left;
    width: 70%;
}
.tokens-list {
    display: block;
    width: 100%;
    height: 205px;
}
.tokens-list option {
    padding: 2px 0 2px 25px;
    background-position: 5px center;
    background-repeat: no-repeat;
}
.tokens-list .anywhere {
    background-image: url("images/dc_tokenanywhere_sm.png");
}
.tokens-list .location {
    background-image: url("images/dc_tokenlocation_sm.png");
}
.tokens-actions {
    float: right;
    width: 27%;
}
.tokens-actions button {
    display: inline-block;
    width: 100%;
}
.tokens-actions button + button {
    margin-top: 5px;
}
.tokens-actions .move-up {
    margin-top: 20px;
}

/*
    Variable sticky value selection
*/
.variable-sticky-value {
    margin-top: 10px;
}
.variable-sticky-value input {
    display: inline-block;
    vertical-align: middle;
}
.variable-sticky-value label {
    display: inline-block;
    vertical-align: middle;
}

/*
    Variable actions
*/
.variable-actions {
    overflow: hidden;
    margin-top: 10px;
}
.variable-actions button + button {
    margin-left: 5px;
}
.variable-actions .preview {
    float: left;
}
.variable-actions .apply,
.variable-actions .cancel {
    float: right;
}