body {
    font-size: 12px;
    min-width: 200px;
    min-height: 150px;
}


div.toolbar {
    margin-bottom: 4px;
}

button.ui-button-icon-only {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.ui-button .open-icon {
    background-image: url(images/dc_open_sm.png);
    background-position: 0px 0px;
}
.ui-button .save-icon {
    background-image: url(images/dc_save_sm.png);
    background-position: 0px 0px;
}
.ui-button .record-icon {
    background-image: url(images/dc_record_sm.png);
    background-position: 0px 0px;
}
.ui-button .play-icon {
    background-image: url(images/dc_play_sm.png);
    background-position: 0px 0px;
}
.ui-button .step-icon {
    background-image: url(images/dc_step_sm.png);
    background-position: 0px 0px;
}
.ui-button .pause-icon {
    background-image: url(images/dc_pause_sm.png);
    background-position: 0px 0px;
}
.ui-button .stop-icon {
    background-image: url(images/dc_stop_sm.png);
    background-position: 0px 0px;
}
.ui-button .decorate-icon, .ui-button .closeDecorate-icon {
    background-image: url(images/dc_validate_sm.png);
    background-position: 0px 0px;
}
.ui-button .testOnDemand-icon {
    background-image: url(images/dc_instanttest_sm.png);
    background-position: 0px 0px;
}
.ui-button .options-icon {
    background-image: url(images/dc_options_sm.png);
    background-position: 0px 0px;
}
.ui-button .login-icon {
    background-image: url(images/dc_login_sm.png);
    background-position: 0px 0px;
}
.ui-button .monitor-icon {
    background-image: url(images/dc_monitor_sm.png);
    background-position: 0px 0px;
}
.ui-button .help-icon {
    background-image: url(images/dc_help_sm.png);
    background-position: 0px 0px;
}

.toolbarMenu {
    position: absolute;
    z-index: 100;
}

button.choose-button {
    width: 12px;
    margin-left: -3px;
    position: relative;
}

button.choose-button:before {
    content: '';
    border: 5px solid transparent;
    border-top-color: rgb(102, 102, 102);
    border-width: 5px 3px;
    margin-top: -3px;
    margin-left: -3px;
    position: absolute;
    top: 50%;
    left: 50%;
}

button.choose-button .ui-icon {
    background-image: none;
}

#keywordValidationToolbar, #jsValidationToolbar, #closeDecorateButton {
   display: none;
}

span.dc-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

span.validation-icon {
    background-image: url(images/dc_validate_sm.png);
    background-position: 0px 0px;
}

span.jsValidationSuggestion {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    width: 240px;
}

/* TODO: is it needed? */
#keywordValidationToolbar input.dejaui-combobox-input {
    width: 16em;
}

#keywordValidationToolbar span.close-button-panel {
    float: right;
}

.ui-button .keywordHelp-icon, .ui-button .jsHelp-icon {
    background-image: url(images/dc_help_sm.png);
    background-position: 0px 0px;
}

#keywordHelpButton {
    vertical-align: top;
}

span.close-button {
    background-image: url(images/dc_close.png);
    background-position: 0px 0px;
    margin-top: 4px;
    margin-right: 4px;
}

span.close-button:hover {
    background-position: -16px 0px;
}

span.close-button:active {
    background-position: -32px 0px;
}

#treeviewBox {
    border: 1px solid black;
    min-width: 120px;
}

div#splitter {
	height: 5px;
    width: 100%;
	overflow: hidden;
	text-align: center;
	cursor: row-resize;
}

div#splitter span {
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
}

#tabResults,#tabProperties {
    padding: 0px 0px;
}

.panelHeader {
    margin: 2px;
    height: 28px;
    background-color: rgb(0,121,193);
}

span.tabLabel {
    position: relative;
    left: 4px;
    top: 5px;
    font-size: larger;
    font-weight: bolder;
    color: #FFFFFF;
}

span.tabIcon {
    position: absolute;
    margin: 2px;
    right: 2px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

span.results-icon {
    background-image: url(images/dc_results.png);
}

span.properties-icon {
    background-image: url(images/dc_properties.png);
}
