.indent1 {
    margin-left: 10px;
}

.column1 {
    float: left;
    width: 40%;
}

.column2 {
    float: left;
    width: 60%;
}

a {
    color: rgb(0,121,193);
}

.rightAlign {
    float: right;
    margin-right: 2px;
}

.clear {
    clear: both;
}

#matchText {
    vertical-align: top;
    width: 75%;
}
