body {
    overflow: hidden;
}

fieldset#params > div {
    display: none;
}

fieldset#params select {
    width: 100%;
}

.type-url {
    display: block;
}

input.url {
    box-sizing: border-box;
    display: block;
    margin: 5px 0 0;
    width: 100%;
}

div.error {
    font-size: 0.9em;
}

div.error:not(:empty) {
    margin-top: 5px;
}

.match-type {
    margin-bottom: 5px;
}

fieldset {
    margin-top:10px;
}