/*================================
    Content view
================================*/
/*
    Components
*/
.components-description {
    margin-bottom: 5px;
}
.component-list {
    display: block;
    width: 100%;
}
.component-list option {
    padding-left: 25px;
    background-position: 5px center;
    background-repeat: no-repeat;
}
.component-list .url-type.excluded {
    background-image: url("images/dc_url_exclude_sm.png");
}
.component-list .url-type.included {
    background-image: url("images/dc_url_sm.png");
}
.component-list .content-view-type.excluded {
    background-image: url("images/dc_contentview_exclude_sm.png");
}
.component-list .content-view-type.included {
    background-image: url("images/dc_contentview_sm.png");
}
.component-list .pre-defined-list-type.excluded {
    background-image: url("images/dc_predefined_list_exclude_sm.png");
}
.component-list .pre-defined-list-type.included {
    background-image: url("images/dc_predefined_list_sm.png");
}
.components-actions .item-control-down,
.components-actions .item-control-up {
    float: right;
}

/*
    Properties
*/
.property-title {
    cursor: pointer;
}
.property-title:before {
    content: '+';
    display: inline-block;
    vertical-align: middle;
    width: 0.75em;
    height: 0.75em;
    margin-right: 3px;
    border: 1px solid #8E8A8A;
    background: #F2F2F2;
    font-size: 1em;
    line-height: 0.75em;
    text-align: center;
}
.property-title.expanded:before {
    content: '-';
}
.property-title span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.property-content {
    margin-top: 5px;
}
.property-title + .property-content {
    display: none;
}
.property-title.expanded + .property-content {
    display: block;
}

/*
    Content types
*/
.content-types .type-list {
    display: block;
    width: 100%;
}

/*
    Content length
*/
.content-length label {
    min-width: 120px;
}

/*
    Scope
*/
.scope-description + .scope-tree-container {
    margin-top: 5px;
}

/*
    Replay options
*/
.replay-options-title {
    margin-bottom: 5px;
    font-weight: bold;
}