body: {
    max-width: 288px;
    padding: 8px;
}

label.field {
    text-align: right;
    width: 100px;
    float: left;
    font-weight: bold;
}

fieldset div {
    clear: both;
    padding: 5px;
}

legend {
    font-weight: bold;
}

#connectionLabel {
    padding: 0px;
    margin-bottom: 4px;
    background-color: yellow;
}

button#connectionButton {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    float: right;
}

button.secure .lock-icon {
    background-image: url(images/dc_locked_sm.png);
    background-position: 0px 0px;
}

button.insecure .lock-icon {
    background-image: url(images/dc_unlocked_sm.png);
    background-position: 0px 0px;
}
