/*================================
    Global styles. Form elements
================================*/
fieldset {
    min-width: initial;
}

label,
input {
    display: inline-block;
    vertical-align: middle;
}

input[type=checkbox],
input[type=radio] {
    margin: 0;
}

input[type=text],
input[type=number],
input[type=password] {
    padding: 2px 5px;
}

option {
    padding: 2px 4px;
}

label + input,
label + select,
input + label,
select + label {
    margin-left: 3px;
}

.form-field-block-content label + input,
.form-field-block-content label + select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 3px;
}

.form-field + .form-field:not(.form-field-left),
.form-group + .form-field {
    margin-top: 5px;
}
.form-group + .form-group,
.form-field + .form-group {
    margin-top: 10px;
}

.form-field-error {
    font-size: 0.95em;
}

.form-group-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field-left {
    display: inline-block;
    vertical-align: top;
}
.form-field-left + .form-field-left {
    margin-left: 5px;
}

/*
    Item controls
*/
.item-control {
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.item-control + .item-control {
    margin-left: 3px;
}
.item-control.item-control-add {
    background-image: url("images/dc_add_sm.png");
}
.item-control.item-control-edit {
    background-image: url("images/dc_edit_sm.png");
}
.item-control.item-control-clone {
    background-image: url("images/dc_clone_sm.png");
}
.item-control.item-control-remove {
    background-image: url("images/dc_delete_sm.png");
}
.item-control.item-control-up {
    background-image: url("images/dc_up_sm.png");
}
.item-control.item-control-down {
    background-image: url("images/dc_down_sm.png");
}
.item-control span {
    padding: 0;
}

/*
    Custom elements
*/
.reg-exp-help {
    display: inline-block;
    margin: 0 2px;
    color: #0079c1;
    cursor: pointer;
}