/*
    Variable selector
*/
.variable-selector {
    padding: 5px 0 10px;
}

/*
    Use variable
*/
.variable-selector input[type=checkbox],
.variable-selector label {
    display: inline-block;
    vertical-align: middle;
}
/*
.variable-selector input[type=checkbox] {
    margin: 0;
}
.variable-selector label {
    margin-left: 5px;
}
*/

/*
    Variable details
*/
.variable-selector .variable-details {
    margin-top: 5px;
}

/*
    Variable actions
*/
.variable-selector .select-variable[disabled] {
    opacity: 0.35;
}

.variable-selector .select-variable,
.variable-selector .add-variable,
.variable-selector .edit-variable {
    display: inline-block;
    vertical-align: middle;
}
.variable-selector .select-variable {
    min-width: 100px;
    margin-right: 5px;
}
.variable-selector button {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.variable-selector .addVariable-icon {
    background-image: url(images/dc_addvar_sm.png);
}
.variable-selector .editVariable-icon {
    background-image: url(images/dc_editvar_sm.png);
}

/*
    Variable description
*/
.variable-selector .variable-description {
    margin-top: 5px;
}
.variable-selector textarea {
    width: 100%;
    box-sizing: border-box;
}