span.currentInfo {
    float: left;
}

img {
    float: right;
}

span.field {
    text-align: left;
    width: 150px;
    float: left;
}

label.field {
    text-align: left;
    width: 100px;
    float: left;
}

div.field {
    clear: both;
    padding: 5px;
}

form {
    clear: both;
}
