#alertImage {
    width: 36px;
    height: 36px;
    background-image: url(images/alerts.png);
    background-repeat: no-repeat;
    background-position: -72px -278px;
    float: left;
    margin-right: 5px;
}

#messageText {
    float: right;
}

#extraText {
    border: solid 1px;
    height: 100px;
    overflow-y: auto;
}

.rightAlign {
    float: right;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.clear {
    height: 10px;
    clear: both;
}

