/*================================
    Content view hints
================================*/
.hints-selection-area {
    float: left;
    width: 80%;
}
.label + .hints {
    margin-top: 5px;
}

/*
    Available items
*/
.available-items {
    float: left;
    width: 42%;
}
.available-items .hints {
    box-sizing: border-box;
    height: 200px;
    border: 1px solid;
}
.available-items .tree-container.hints > ul {
    overflow: auto;
    max-height: 100%;
}

/*
    Include button
*/
.include {
    float: left;
    width: 15%;
    height: 200px;
    margin-top: 1.1em;
    padding-top: 5px;
    text-align: center;
}
.include:after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
}
.include-component {
    display: inline-block;
    width: 80%;
    font-size: 1.5em;
}
.include-component .ui-button-text {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/*
    Included items
*/
.included-items {
    float: left;
    width: 42%;
}
.included-item-list {
    display: block;
    width: 100%;
    height: 200px;
}
.included-item-list option {
    padding-left: 25px;
    background-position: 5px center;
    background-repeat: no-repeat;
}
.included-item-list .url-type.excluded {
    background-image: url("images/dc_url_exclude_sm.png");
}
.included-item-list .url-type.included {
    background-image: url("images/dc_url_sm.png");
}
.included-item-list .content-view-type.excluded {
    background-image: url("images/dc_contentview_exclude_sm.png");
}
.included-item-list .content-view-type.included {
    background-image: url("images/dc_contentview_sm.png");
}
.included-item-list .pre-defined-list-type.excluded {
    background-image: url("images/dc_predefined_list_exclude_sm.png");
}
.included-item-list .pre-defined-list-type.included {
    background-image: url("images/dc_predefined_list_sm.png");
}


/*
    Components actions
*/
.component-actions {
    float: right;
    width: 18%
}
.component-actions button {
    display: inline-block;
    width: 100%;
}
.component-actions button + button {
    margin-top: 5px;
}
.component-actions .move-up {
    margin-top: 35px;
}