body {
    font-size: 11px;
}

.rightAlign {
    float: right;
    margin-right: 2px;
}

.ui-button-text-icon-primary .ui-button-text {
    display: block;
    position: static;
    padding: 50px 10px 5px 10px;
}

.ui-button .general-icon {
    background-image: url(images/dc_config_options.png);
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
    margin: 10px 0 2em -16px;
    text-align: center;
    left: 50%;
    top: 5px;
}

.ui-button .record-icon {
    background-image: url(images/dc_config_options.png);
    background-position: -128px 0px;
    width: 32px;
    height: 32px;
    margin: 10px 0 2em -16px;
    text-align: center;
    left: 50%;
    top: 5px;
}

.ui-button .replay-icon {
    background-image: url(images/dc_config_options.png);
    background-position: -160px 0px;
    width: 32px;
    height: 32px;
    margin: 10px 0 2em -16px;
    text-align: center;
    left: 50%;
    top: 5px;
}

#tabLabel {
    font-size: larger;
}

section {
    clear: both;
    margin: 5px;
}

iframe {
    width: 100%;
    height: 100%;
}

#samlUrl {
    width: 350px;
}
#restApiEndpoint {
    width: 350px;
}